In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('Extract2.xlsx')

In [5]:
cvs=data.groupby(['OBJECT_NAME'])

In [7]:
cvs.groups.keys()

dict_keys(['CV_CLAIM', 'CV_GROUP_VIEW'])

In [10]:
cv_claim=cvs.get_group('CV_CLAIM')

In [12]:
cv_claim['TARGET_NODE']

0      Projection_1
1      Projection_1
2      Projection_1
3      Projection_1
4      Projection_1
           ...
137    logicalModel
138          Join_5
139          Join_5
140             NaN
141             NaN
Name: TARGET_NODE, Length: 132, dtype: object

In [14]:
cv_claim['SOURCE_NODE'].unique()

array(['CLAIM', 'CV_GROUP_VIEW', 'CLAIMANT', 'CLAIM_STATUS',
       '#Projection_1', '#Projection_2', '#Projection_3', '#Join_1',
       '#Join_2', '#Projection_4', '#Join_3', '#Join_4', 'Join_5', nan],
      dtype=object)

In [15]:
cv_claim['TARGET_NODE'].unique()

array(['Projection_1', 'Projection_2', 'Projection_3', 'Projection_4',
       'Join_1', 'Join_2', 'Join_3', 'Join_4', 'Join_5', 'logicalModel',
       nan], dtype=object)

In [20]:
cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].fillna('')

C:\Users\imsud\AppData\Local\Temp/ipykernel_3768/1347838216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].fillna('')

In [40]:
cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].replace('#','',regex=True)

C:\Users\imsud\AppData\Local\Temp/ipykernel_3768/3848344398.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].replace('#','',regex=True)

In [25]:
cv_claim['TARGET_NODE']=cv_claim['TARGET_NODE'].fillna('')

C:\Users\imsud\AppData\Local\Temp/ipykernel_3768/1868942600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cv_claim['TARGET_NODE']=cv_claim['TARGET_NODE'].fillna('')

In [41]:
cv_claim

,OBJECT_NAME,NODE_ID,TARGET_NODE,TARGET_VALUE,SOURCE_NODE,SOURCE_VALUE,SOURCE_TYPE,PROMPT_NAME,DATATYPE,LEN,MANDATORY,FORMULA
0,CV_CLAIM,110.0,Projection_1,CLAIM_UID,CLAIM,CLAIM_UID,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
1,CV_CLAIM,110.0,Projection_1,CLIENT_NUMBER,CLAIM,CLIENT_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
2,CV_CLAIM,110.0,Projection_1,LINE_OF_BUSINESS,CLAIM,LINE_OF_BUSINESS,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
3,CV_CLAIM,110.0,Projection_1,STATE_OF_LOSS,CLAIM,STATE_OF_LOSS,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
4,CV_CLAIM,110.0,Projection_1,FORMATTED_FILE_NUMBER,CLAIM,FORMATTED_FILE_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
137,CV_CLAIM,814.0,logicalModel,CA_COUNT,Join_5,CA_COUNT,NaN,NaN,NaN,NaN,NaN,NaN
138,CV_CLAIM,814.0,Join_5,CA_DATE_OF_LOSS,,NaN,NaN,NaN,DATE,NaN,NaN,"daydate(""DATE_OF_LOSS"")"
139,CV_CLAIM,814.0,Join_5,CA_COUNT,,NaN,NaN,NaN,INTEGER,NaN,NaN,countDistinct( FORMATTED_FILE_NUMBER )
140,CV_CLAIM,NaN,,NaN,,NaN,NaN,IP_GROUP,NVARCHAR,150.0,1.0,NaN
141,CV_CLAIM,NaN,,NaN,,NaN,NaN,IP_ASOF_DATE,NVARCHAR,10.0,1.0,NaN

In [49]:
edges=list(cv_claim.groupby(['SOURCE_NODE','TARGET_NODE']).groups.keys())[2:]

In [50]:
edges

[('CLAIM', 'Projection_1'),
 ('CLAIMANT', 'Projection_3'),
 ('CLAIM_STATUS', 'Projection_4'),
 ('CV_GROUP_VIEW', 'Projection_2'),
 ('Join_1', 'Join_3'),
 ('Join_2', 'Join_3'),
 ('Join_3', 'Join_5'),
 ('Join_4', 'Join_5'),
 ('Join_5', 'logicalModel'),
 ('Projection_1', 'Join_1'),
 ('Projection_2', 'Join_1'),
 ('Projection_2', 'Join_2'),
 ('Projection_2', 'Join_4'),
 ('Projection_3', 'Join_2'),
 ('Projection_4', 'Join_4')]

In [58]:
nodes=list(pd.concat([cv_claim['SOURCE_NODE'],cv_claim['TARGET_NODE']]).unique())

In [60]:
nodes.remove('')

In [61]:
nodes

['CLAIM',
 'CV_GROUP_VIEW',
 'CLAIMANT',
 'CLAIM_STATUS',
 'Projection_1',
 'Projection_2',
 'Projection_3',
 'Join_1',
 'Join_2',
 'Projection_4',
 'Join_3',
 'Join_4',
 'Join_5',
 'logicalModel']

In [63]:
def get_nodes_dict(nodes):
    output=[]
    for node in nodes:
        output.append({'data':{'id':node,'label':node}})
    return output

In [67]:
final_nodes=get_nodes_dict(nodes)

In [65]:
def get_edges_dict(edges):
    output=[]
    for edge in edges:
        output.append({'data':{'source':edge[0],'target':edge[1]}})
    return output

In [68]:
final_edges=get_edges_dict(edges)

In [69]:
elements=final_nodes+final_edges

In [70]:
elements

[{'data': {'id': 'CLAIM', 'label': 'CLAIM'}},
 {'data': {'id': 'CV_GROUP_VIEW', 'label': 'CV_GROUP_VIEW'}},
 {'data': {'id': 'CLAIMANT', 'label': 'CLAIMANT'}},
 {'data': {'id': 'CLAIM_STATUS', 'label': 'CLAIM_STATUS'}},
 {'data': {'id': 'Projection_1', 'label': 'Projection_1'}},
 {'data': {'id': 'Projection_2', 'label': 'Projection_2'}},
 {'data': {'id': 'Projection_3', 'label': 'Projection_3'}},
 {'data': {'id': 'Join_1', 'label': 'Join_1'}},
 {'data': {'id': 'Join_2', 'label': 'Join_2'}},
 {'data': {'id': 'Projection_4', 'label': 'Projection_4'}},
 {'data': {'id': 'Join_3', 'label': 'Join_3'}},
 {'data': {'id': 'Join_4', 'label': 'Join_4'}},
 {'data': {'id': 'Join_5', 'label': 'Join_5'}},
 {'data': {'id': 'logicalModel', 'label': 'logicalModel'}},
 {'data': {'source': 'CLAIM', 'target': 'Projection_1'}},
 {'data': {'source': 'CLAIMANT', 'target': 'Projection_3'}},
 {'data': {'source': 'CLAIM_STATUS', 'target': 'Projection_4'}},
 {'data': {'source': 'CV_GROUP_VIEW', 'target': 'Projection_2'}},
 {'data': {'source': 'Join_1', 'target': 'Join_3'}},
 {'data': {'source': 'Join_2', 'target': 'Join_3'}},
 {'data': {'source': 'Join_3', 'target': 'Join_5'}},
 {'data': {'source': 'Join_4', 'target': 'Join_5'}},
 {'data': {'source': 'Join_5', 'target': 'logicalModel'}},
 {'data': {'source': 'Projection_1', 'target': 'Join_1'}},
 {'data': {'source': 'Projection_2', 'target': 'Join_1'}},
 {'data': {'source': 'Projection_2', 'target': 'Join_2'}},
 {'data': {'source': 'Projection_2', 'target': 'Join_4'}},
 {'data': {'source': 'Projection_3', 'target': 'Join_2'}},
 {'data': {'source': 'Projection_4', 'target': 'Join_4'}}]

In [92]:
import pickle
import numpy as np

In [74]:
with open('elements.pkl','w') as f:
    pickle.dump(elements,f)

TypeError: write() argument must be str, not bytes

In [97]:
pd.DataFrame(np.concatenate([cv_claim[['TARGET_NODE','TARGET_VALUE']],cv_claim[['SOURCE_NODE','SOURCE_VALUE']]],axis=0))

          0                      1
214  Join_3  FORMATTED_FILE_NUMBER
215  Join_3           CARRIER_CODE
216  Join_3  STATE_OF_JURISDICTION
217  Join_3         ACCOUNT_NUMBER
218  Join_3            UNIT_NUMBER
219  Join_3      PROCESSING_OFFICE
220  Join_3           DATE_OF_LOSS
221  Join_3        SECURITY_KEY_01
222  Join_3              CLAIM_UID
223  Join_3              LAST_NAME
224  Join_3             FIRST_NAME
225  Join_3         MIDDLE_INITIAL
226  Join_3          DATE_OF_BIRTH
227  Join_3               EMP_UNUM
228  Join_3           CLIENTNUMBER
229  Join_4      CLAIM_STATUS_CODE
230  Join_4  CLAIM_SUB_STATUS_CODE
231  Join_4            DATE_CLOSED
232  Join_4          DATE_REOPENED
233  Join_4          CLIENT_NUMBER
234  Join_3           CLIENTNUMBER
235  Join_4              CLAIM_UID
236  Join_3              CLAIM_UID
237  Join_5       LINE_OF_BUSINESS
238  Join_5          STATE_OF_LOSS
239  Join_5  FORMATTED_FILE_NUMBER
240  Join_5           CARRIER_CODE
241  Join_5  STATE_OF_JURISDICTION
242  Join_5         ACCOUNT_NUMBER
243  Join_5            UNIT_NUMBER
244  Join_5      PROCESSING_OFFICE
245  Join_5           DATE_OF_LOSS
246  Join_5        SECURITY_KEY_01
247  Join_5              CLAIM_UID
248  Join_5              LAST_NAME
249  Join_5             FIRST_NAME
250  Join_5         MIDDLE_INITIAL
251  Join_5          DATE_OF_BIRTH
252  Join_5               EMP_UNUM
253  Join_5      CLAIM_STATUS_CODE
254  Join_5  CLAIM_SUB_STATUS_CODE
255  Join_5            DATE_CLOSED
256  Join_5          DATE_REOPENED
257  Join_5           CLIENTNUMBER
258  Join_5        CA_DATE_OF_LOSS
259  Join_5               CA_COUNT
260                            NaN
261                            NaN
262                            NaN
263                            NaN

In [105]:
list(cv_claim[['TARGET_NODE','TARGET_VALUE']].groupby('TARGET_NODE').get_group('logicalModel')['TARGET_VALUE'])

['LINE_OF_BUSINESS',
 'STATE_OF_LOSS',
 'FORMATTED_FILE_NUMBER',
 'CARRIER_CODE',
 'STATE_OF_JURISDICTION',
 'ACCOUNT_NUMBER',
 'UNIT_NUMBER',
 'PROCESSING_OFFICE',
 'DATE_OF_LOSS',
 'SECURITY_KEY_01',
 'CLAIM_UID',
 'LAST_NAME',
 'FIRST_NAME',
 'MIDDLE_INITIAL',
 'DATE_OF_BIRTH',
 'EMP_UNUM',
 'CLAIM_STATUS_CODE',
 'CLAIM_SUB_STATUS_CODE',
 'DATE_CLOSED',
 'DATE_REOPENED',
 'CLIENTNUMBER',
 'CA_DATE_OF_LOSS',
 'CA_COUNT']

In [106]:
def find_lineage(key):
    lin=[key]
    while key in lin_group.groups.keys():
        key=lin_group.get_group(key)['parent'].iloc[0]
        lin.append(key)
    return lin

In [133]:
data.loc[1:15]

,OBJECT_NAME,NODE_ID,TARGET_NODE,TARGET_VALUE,SOURCE_NODE,SOURCE_VALUE,SOURCE_TYPE,PROMPT_NAME,DATATYPE,LEN,MANDATORY,FORMULA
1,CV_CLAIM,110.0,Projection_1,CLIENT_NUMBER,CLAIM,CLIENT_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
2,CV_CLAIM,110.0,Projection_1,LINE_OF_BUSINESS,CLAIM,LINE_OF_BUSINESS,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
3,CV_CLAIM,110.0,Projection_1,STATE_OF_LOSS,CLAIM,STATE_OF_LOSS,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
4,CV_CLAIM,110.0,Projection_1,FORMATTED_FILE_NUMBER,CLAIM,FORMATTED_FILE_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
5,CV_CLAIM,110.0,Projection_1,CARRIER_CODE,CLAIM,CARRIER_CODE,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
6,CV_CLAIM,110.0,Projection_1,STATE_OF_JURISDICTION,CLAIM,STATE_OF_JURISDICTION,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
7,CV_CLAIM,110.0,Projection_1,ACCOUNT_NUMBER,CLAIM,ACCOUNT_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
8,CV_CLAIM,110.0,Projection_1,UNIT_NUMBER,CLAIM,UNIT_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
9,CV_CLAIM,110.0,Projection_1,PROCESSING_OFFICE,CLAIM,PROCESSING_OFFICE,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
10,CV_CLAIM,110.0,Projection_1,DATE_OF_LOSS,CLAIM,DATE_OF_LOSS,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
11,CV_CLAIM,110.0,Projection_1,SECURITY_KEY_01,CLAIM,SECURITY_KEY_01,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
12,CV_CLAIM,190.0,Projection_2,CLIENTNUMBER,CV_GROUP_VIEW,CLIENTNUMBER,CALCULATION_VIEW,NaN,NaN,NaN,NaN,NaN
13,CV_CLAIM,301.0,Projection_3,CLAIM_UID,CLAIMANT,CLAIM_UID,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
14,CV_CLAIM,301.0,Projection_3,CLIENT_NUMBER,CLAIMANT,CLIENT_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
15,CV_CLAIM,301.0,Projection_3,LAST_NAME,CLAIMANT,LAST_NAME,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN

1 logicalModel - LINE_OF_BUSINESS
2 Join_5 - LINE_OF_BUSINESS
3 Join_3 - LINE_OF_BUSINESS
4 Join_1 - LINE_OF_BUSINESS
5 Projection_1 - LINE_OF_BUSINESS
6 CLAIM - LINE_OF_BUSINESS

In [ ]:
def find_lineage(key):
    lin=[key]
    while key in lin_group.groups.keys():
        key=lin_group.get_group(key)['parent'].iloc[0]
        lin.append(key)
    return lin

In [134]:
data=pd.read_excel('Extract2.xlsx')
cvs=data.groupby(['OBJECT_NAME'])
cv_claim=cvs.get_group('CV_CLAIM')
cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].fillna('')
cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].replace('#','',regex=True)
cv_claim['TARGET_NODE']=cv_claim['TARGET_NODE'].fillna('')

C:\Users\imsud\AppData\Local\Temp/ipykernel_3768/4191206831.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].fillna('')
C:\Users\imsud\AppData\Local\Temp/ipykernel_3768/4191206831.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cv_claim['SOURCE_NODE']=cv_claim['SOURCE_NODE'].replace('#','',regex=True)
C:\Users\imsud\AppData\Local\Temp/ipykernel_3768/4191206831.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cv_claim['TARGET_NODE']=cv_claim['TARGET_NODE'].fillna('')

In [135]:
cv_claim

,OBJECT_NAME,NODE_ID,TARGET_NODE,TARGET_VALUE,SOURCE_NODE,SOURCE_VALUE,SOURCE_TYPE,PROMPT_NAME,DATATYPE,LEN,MANDATORY,FORMULA
0,CV_CLAIM,110.0,Projection_1,CLAIM_UID,CLAIM,CLAIM_UID,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
1,CV_CLAIM,110.0,Projection_1,CLIENT_NUMBER,CLAIM,CLIENT_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
2,CV_CLAIM,110.0,Projection_1,LINE_OF_BUSINESS,CLAIM,LINE_OF_BUSINESS,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
3,CV_CLAIM,110.0,Projection_1,STATE_OF_LOSS,CLAIM,STATE_OF_LOSS,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
4,CV_CLAIM,110.0,Projection_1,FORMATTED_FILE_NUMBER,CLAIM,FORMATTED_FILE_NUMBER,DATA_BASE_TABLE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
137,CV_CLAIM,814.0,logicalModel,CA_COUNT,Join_5,CA_COUNT,NaN,NaN,NaN,NaN,NaN,NaN
138,CV_CLAIM,814.0,Join_5,CA_DATE_OF_LOSS,,NaN,NaN,NaN,DATE,NaN,NaN,"daydate(""DATE_OF_LOSS"")"
139,CV_CLAIM,814.0,Join_5,CA_COUNT,,NaN,NaN,NaN,INTEGER,NaN,NaN,countDistinct( FORMATTED_FILE_NUMBER )
140,CV_CLAIM,NaN,,NaN,,NaN,NaN,IP_GROUP,NVARCHAR,150.0,1.0,NaN
141,CV_CLAIM,NaN,,NaN,,NaN,NaN,IP_ASOF_DATE,NVARCHAR,10.0,1.0,NaN

In [163]:
target=(cv_claim['TARGET_NODE']+'+'+cv_claim['TARGET_VALUE'])

In [164]:
source=(cv_claim['SOURCE_NODE']+'+'+cv_claim['SOURCE_VALUE'])

In [165]:
df=pd.DataFrame([source,target]).T

In [166]:
df.columns=['source','target']

In [167]:
df=df.dropna()

In [168]:
df

                          source                              target
0                CLAIM+CLAIM_UID              Projection_1+CLAIM_UID
1            CLAIM+CLIENT_NUMBER          Projection_1+CLIENT_NUMBER
2         CLAIM+LINE_OF_BUSINESS       Projection_1+LINE_OF_BUSINESS
3            CLAIM+STATE_OF_LOSS          Projection_1+STATE_OF_LOSS
4    CLAIM+FORMATTED_FILE_NUMBER  Projection_1+FORMATTED_FILE_NUMBER
..                           ...                                 ...
128           Join_5+DATE_CLOSED            logicalModel+DATE_CLOSED
129         Join_5+DATE_REOPENED          logicalModel+DATE_REOPENED
130          Join_5+CLIENTNUMBER           logicalModel+CLIENTNUMBER
136       Join_5+CA_DATE_OF_LOSS        logicalModel+CA_DATE_OF_LOSS
137              Join_5+CA_COUNT               logicalModel+CA_COUNT

[128 rows x 2 columns]

In [173]:
target=list(df['target'])

In [174]:
source=list(df['source'])

In [177]:
mapping={target[i]:source[i] for i in range(len(target))}

In [179]:
def find_lineage(target):
    path=[]
    while(target in mapping.keys()):
        path.append(mapping[target])
        target=mapping[target]
    return path

In [180]:
target

['Projection_1+CLAIM_UID',
 'Projection_1+CLIENT_NUMBER',
 'Projection_1+LINE_OF_BUSINESS',
 'Projection_1+STATE_OF_LOSS',
 'Projection_1+FORMATTED_FILE_NUMBER',
 'Projection_1+CARRIER_CODE',
 'Projection_1+STATE_OF_JURISDICTION',
 'Projection_1+ACCOUNT_NUMBER',
 'Projection_1+UNIT_NUMBER',
 'Projection_1+PROCESSING_OFFICE',
 'Projection_1+DATE_OF_LOSS',
 'Projection_1+SECURITY_KEY_01',
 'Projection_2+CLIENTNUMBER',
 'Projection_3+CLAIM_UID',
 'Projection_3+CLIENT_NUMBER',
 'Projection_3+LAST_NAME',
 'Projection_3+FIRST_NAME',
 'Projection_3+MIDDLE_INITIAL',
 'Projection_3+DATE_OF_BIRTH',
 'Projection_3+EMP_UNUM',
 'Projection_4+CLAIM_UID',
 'Projection_4+CLIENT_NUMBER',
 'Projection_4+DATE_STATUS_EFFECTIVE',
 'Projection_4+DATE_STATUS_EXPIRES',
 'Projection_4+CLAIM_STATUS_CODE',
 'Projection_4+CLAIM_SUB_STATUS_CODE',
 'Projection_4+DATE_CLOSED',
 'Projection_4+DATE_REOPENED',
 'Join_1+CLAIM_UID',
 'Join_1+LINE_OF_BUSINESS',
 'Join_1+STATE_OF_LOSS',
 'Join_1+FORMATTED_FILE_NUMBER',
 'Join_1+CARRIER_CODE',
 'Join_1+STATE_OF_JURISDICTION',
 'Join_1+ACCOUNT_NUMBER',
 'Join_1+UNIT_NUMBER',
 'Join_1+PROCESSING_OFFICE',
 'Join_1+DATE_OF_LOSS',
 'Join_1+SECURITY_KEY_01',
 'Join_1+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_1+CLIENTNUMBER',
 'Join_1+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_2+JOIN$CLIENTNUMBER$CLIENT_NUMBER',
 'Join_2+CLAIM_UID',
 'Join_2+LAST_NAME',
 'Join_2+FIRST_NAME',
 'Join_2+MIDDLE_INITIAL',
 'Join_2+DATE_OF_BIRTH',
 'Join_2+EMP_UNUM',
 'Join_2+CLIENT_NUMBER',
 'Join_2+JOIN$CLIENTNUMBER$CLIENT_NUMBER',
 'Join_3+LINE_OF_BUSINESS',
 'Join_3+STATE_OF_LOSS',
 'Join_3+FORMATTED_FILE_NUMBER',
 'Join_3+CARRIER_CODE',
 'Join_3+STATE_OF_JURISDICTION',
 'Join_3+ACCOUNT_NUMBER',
 'Join_3+UNIT_NUMBER',
 'Join_3+PROCESSING_OFFICE',
 'Join_3+DATE_OF_LOSS',
 'Join_3+SECURITY_KEY_01',
 'Join_3+CLAIM_UID',
 'Join_3+CLIENTNUMBER',
 'Join_3+LAST_NAME',
 'Join_3+FIRST_NAME',
 'Join_3+MIDDLE_INITIAL',
 'Join_3+DATE_OF_BIRTH',
 'Join_3+EMP_UNUM',
 'Join_3+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_3+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_3+JOIN$CLAIM_UID$CLAIM_UID',
 'Join_3+JOIN$CLAIM_UID$CLAIM_UID',
 'Join_4+CLAIM_UID',
 'Join_4+CLIENT_NUMBER',
 'Join_4+CLAIM_STATUS_CODE',
 'Join_4+CLAIM_SUB_STATUS_CODE',
 'Join_4+DATE_CLOSED',
 'Join_4+DATE_REOPENED',
 'Join_4+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_4+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_5+LINE_OF_BUSINESS',
 'Join_5+STATE_OF_LOSS',
 'Join_5+FORMATTED_FILE_NUMBER',
 'Join_5+CARRIER_CODE',
 'Join_5+STATE_OF_JURISDICTION',
 'Join_5+ACCOUNT_NUMBER',
 'Join_5+UNIT_NUMBER',
 'Join_5+PROCESSING_OFFICE',
 'Join_5+DATE_OF_LOSS',
 'Join_5+SECURITY_KEY_01',
 'Join_5+CLAIM_UID',
 'Join_5+LAST_NAME',
 'Join_5+FIRST_NAME',
 'Join_5+MIDDLE_INITIAL',
 'Join_5+DATE_OF_BIRTH',
 'Join_5+EMP_UNUM',
 'Join_5+CLIENTNUMBER',
 'Join_5+CLAIM_STATUS_CODE',
 'Join_5+CLAIM_SUB_STATUS_CODE',
 'Join_5+DATE_CLOSED',
 'Join_5+DATE_REOPENED',
 'Join_5+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_5+JOIN$CLIENT_NUMBER$CLIENTNUMBER',
 'Join_5+JOIN$CLAIM_UID$CLAIM_UID',
 'Join_5+JOIN$CLAIM_UID$CLAIM_UID',
 'logicalModel+LINE_OF_BUSINESS',
 'logicalModel+STATE_OF_LOSS',
 'logicalModel+FORMATTED_FILE_NUMBER',
 'logicalModel+CARRIER_CODE',
 'logicalModel+STATE_OF_JURISDICTION',
 'logicalModel+ACCOUNT_NUMBER',
 'logicalModel+UNIT_NUMBER',
 'logicalModel+PROCESSING_OFFICE',
 'logicalModel+DATE_OF_LOSS',
 'logicalModel+SECURITY_KEY_01',
 'logicalModel+CLAIM_UID',
 'logicalModel+LAST_NAME',
 'logicalModel+FIRST_NAME',
 'logicalModel+MIDDLE_INITIAL',
 'logicalModel+DATE_OF_BIRTH',
 'logicalModel+EMP_UNUM',
 'logicalModel+CLAIM_STATUS_CODE',
 'logicalModel+CLAIM_SUB_STATUS_CODE',
 'logicalModel+DATE_CLOSED',
 'logicalModel+DATE_REOPENED',
 'logicalModel+CLIENTNUMBER',
 'logicalModel+CA_DATE_OF_LOSS',
 'logicalModel+CA_COUNT']

In [181]:
find_lineage('logicalModel+LINE_OF_BUSINESS')

['Join_5+LINE_OF_BUSINESS',
 'Join_3+LINE_OF_BUSINESS',
 'Join_1+LINE_OF_BUSINESS',
 'Projection_1+LINE_OF_BUSINESS',
 'CLAIM+LINE_OF_BUSINESS']